

# sensitive or environment-specific
run.sh
secrets.py
/data/

# don't want to deal with it right now
cw_check.py


# Annoying but helpful
__pycache__

# Annoying and not needed
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode

